<div class="container-fluid px-sm-1 py-5 mx-auto">
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="card card-1">
                <div class="pr-3 row justify-content-end">
                    <div class="fa fa-heart-o like"></div>
                </div>
                <div class="product-pic"> <img class="pic1" src="https://free-images.com/tn/ad05/coffee_beans_coffee_beans-b_12.jpg"> </div> <small class="category">Café</small>
                <h5 class="product-name">Café de grano especial</h5>
                <div class="row px-3 justify-content-between">
                    <p class="price">$1500</p>
                    <div class="stars"> <span class="fa fa-star star-active"></span> 
                        <span class="fa fa-star star-active"></span> 
                        <span class="fa fa-star star-active"></span> 
                        <span class="fa fa-star-o"></span> 
                        <span class="fa fa-star-o"></span> 
                    </div>
                    <a href="webpay-plus/create" class="btn btn-primary">Comprar ahora!</a>
                </div>
            </div>
        </div>
    </div>
</div>